div(class="record")
    div(class="functionSignature")
        a(name="#{record.pluginType}-#{record.groupName}-#{record.name}" href="##{record.pluginType}-#{record.groupName}-#{record.name}") !{record.name} !{record.signature}
    div(class="comment markdown-body") !{record.comment} 
